* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Malgun Gothic", "Dotum", sans-serif;
    font-size: 0.75em;
    color: #333;
}

.tab-box {
    margin: 20px auto 0px;
    width: 520px;
}

ul {
    list-style: none;

}

li {
    float: left;
    width: 100px;
    height: 22px;
    margin-right: 2px;
    text-align: center;
    background-color: gray;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

.tab-box > div {
    border: 1px solid black;
    width: 516px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

ul {
    padding-bottom: 23px;

}
.selected{
    background-color: orange;
}
li:hover{
    background-color: orange;
}

